<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <title>휴직 및 병가제도</title>
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <div style="display: flex;">
                <div class="navbar-brand">WTM</div>
                <ul class="nav-ul">
                    <li class="nav-item">
                        <a href="/index">근무시간
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/leave">연차제도</a>
                    </li>
                    <li class="nav-item">
                        <a href="/absence" class="current-page">휴직/병가</a>
                    </li>
                </ul>
            </div>

            <div class="navbar-info">
                <%= name %>
            </div>
        </div>
    </nav>

    <div class="main">

    </div>
</body>
</html>
