<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0&icon_names=delete_forever" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0&icon_names=add" />
    <style>
        table, th, td {
            border: 1px solid;
            border-collapse: collapse;
            font-size: 14px;
        }

        td {
            text-align:center;
            padding: 0.5rem;
        }
    </style>
    <title>근무시간</title>
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <div style="display: flex;">
                <div class="navbar-brand">WTM</div>
                <ul class="nav-ul">
                    <li class="nav-item">
                        <a href="/index" class="current-page">근무시간
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/leave">연차제도</a>
                    </li>
                    <li class="nav-item">
                        <a href="/absence">휴직/병가</a>
                    </li>
                </ul>
            </div>

            <div class="navbar-info">
                <%= name %>
            </div>
        </div>
    </nav>

    <div id="container">

        <h2>근태 및 연차</h2>

        <h3>연장근무</h3>
        <table style="margin-top: 1.0rem; margin-bottom:1.0rem;" id="overtime">
            <tr>
                <th style="width:6.0rem;">사번</th>
                <th style="width:6.0rem;">기간</th>
                <th style="width:4.0rem;">평일연장</th>
                <th style="width:3.0rem;">휴일</th>
                <th style="width:3.0rem;">야간</th>
            </tr>
        </table>

        <h3>연차사용내역</h3>
        <table style="margin-bottom:1.0rem;" id="leaves">
            <tr>
                <th style="width:6.0rem;">사번</th>
                <th style="width:6.0rem;">날짜</th>
                <th style="width:4.0rem;">사용일수</th>
            </tr>
        </table>

        <h3>연차요약</h3>
        <table style="margin-bottom:1.0rem;" id="balance_leaves">
            <tr>
                <th style="width:6.0rem;">사번</th>
                <th style="width:3.3rem;">발생</th>
                <th style="width:3.3rem;">사용</th>
                <th style="width:3.3rem;">잔여</th>
            </tr>
        </table>
    </div>
    
    <script>
        function fetchItem(){
            let condition = `<%= id %>`
            let overtime_table = document.getElementById("overtime")
            let leaves_table = document.getElementById("leaves")
            let balance_leaves_table = document.getElementById("balance_leaves")

            fetch(`/overtime/${condition}`)
                .then(response => response.json())
                .then(data => {
                    let table = document.getElementById("overtime");
                    data.forEach(row => {
                        let tr = document.createElement('tr');
                        let code = document.createElement("td");
                        code.innerText = row.code;
                        code.classList.add('uneditable');
                    
                        var period = document.createElement("td");
                        period.innerText = row.period;
                        period.classList.add('uneditable');

                        var wd_ot = document.createElement("td");
                        wd_ot.innerText = row.wd_ot;
                        wd_ot.classList.add('uneditable');

                        var wk_ot = document.createElement("td");
                        wk_ot.innerText = row.wk_ot;
                        wk_ot.classList.add('uneditable');

                        var nt_ot = document.createElement("td");
                        nt_ot.innerText = row.nt_ot;
                        nt_ot.classList.add('uneditable');

                        tr.appendChild(code);
                        tr.appendChild(period);
                        tr.appendChild(wd_ot);
                        tr.appendChild(wk_ot);
                        tr.appendChild(nt_ot);
                        table.appendChild(tr);
                    });
                });

                
            fetch(`/leaves/${condition}`)
                .then(response => response.json())
                .then(data => {
                    let table = document.getElementById("leaves");
                    data.forEach(row => {
                        let tr = document.createElement('tr');
                        let code = document.createElement("td");
                        code.innerText = row.code;
                        code.classList.add('uneditable');
                    
                        var date = document.createElement("td");
                        date.innerText = row.date;
                        date.classList.add('uneditable');

                        var amt = document.createElement("td");
                        amt.innerText = row.amt;
                        amt.classList.add('uneditable');


                        var delete_btn = document.createElement("td");

                        tr.appendChild(code);
                        tr.appendChild(date);
                        tr.appendChild(amt);
                        table.appendChild(tr);
                    });
                });

                
            fetch(`/balance_leaves/${condition}`)
                .then(response => response.json())
                .then(data => {
                    let table = document.getElementById("balance_leaves");
                    data.forEach(row => {
                        let tr = document.createElement('tr');
                        let code = document.createElement("td");
                        code.innerText = row.code;
                        code.classList.add('uneditable');
                    
                        var granted = document.createElement("td");
                        granted.innerText = row.granted;
                        granted.classList.add('uneditable');

                        var used = document.createElement("td");
                        used.innerText = row.used;
                        used.classList.add('uneditable');

                        var remain = document.createElement("td");
                        remain.innerText = row.remain;
                        remain.classList.add('uneditable');

                        tr.appendChild(code);
                        tr.appendChild(granted);
                        tr.appendChild(used);
                        tr.appendChild(remain);
                        table.appendChild(tr);
                    });
                });

        };
        fetchItem('all');
    </script>
</body>
</html>