body {
    margin: 0;
    padding: 0;
    font-family: "42dot Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
}

.navbar{
    background-color: #DDD;
    width: 100%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 5);
    padding: 1.0em;
    font-size: 1.0rem;
    vertical-align: middle;
}

.nav-container {
    width: 95%;
    display: inline-flex;
    justify-content:space-between;

}
.navbar-brand{
    font-size: 1.5rem;
    padding-right: 2rem;
    vertical-align: middle;
}
.nav-ul{
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    vertical-align: middle;
}

.nav-ul li{
    vertical-align: bottom;
    padding-top: 0.5rem;
    padding: 0 0.8rem 0 0.8rem;
    font-weight: 400;
}

.navbar-info {
    vertical-align: bottom;
    padding-top: 0.5rem;
}
.current-page {
    font-weight: 600;
}

a {
    color: #111;
    text-decoration: none;
}

a:visited {
    color: #111;
    text-decoration: none;
}

#container {
    padding-left : 1.0rem;
}

.uneditable {
    background-color: #DDD;
}